@charset "utf-8";

/**
 * KRDS 타이포그래피 - Pretendard GOV 웹폰트
 *
 * KRDS 가이드라인 기준:
 * - 기본 본문: 17px (1.7rem)
 * - 행간: 150% (line-height: 1.5)
 * - 자간: Display/Heading large/medium = 1px, 나머지 = 0px
 * - 굵기: Regular(400), Medium(500), Bold(700)
 */

/* Pretendard GOV - Regular (400) */
@font-face {
  font-family: 'Pretendard GOV';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/PretendardGOV-Regular.subset.woff2') format('woff2'),
       url('../../fonts/PretendardGOV-Regular.subset.woff') format('woff');
}

/* Pretendard GOV - Medium (500) */
@font-face {
  font-family: 'Pretendard GOV';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/PretendardGOV-Medium.subset.woff2') format('woff2'),
       url('../../fonts/PretendardGOV-Medium.subset.woff') format('woff');
}

/* Pretendard GOV - Bold (700) */
@font-face {
  font-family: 'Pretendard GOV';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/PretendardGOV-Bold.subset.woff2') format('woff2'),
       url('../../fonts/PretendardGOV-Bold.subset.woff') format('woff');
}
